<?xml version="1.0" encoding="UTF-8"?>
<Context antiJARLocking="true" path="/Query2Web">
<Resource name="jdbc/postgres" auth="Container" type="javax.sql.DataSource"
          username="postgres"
          password="cse532"
          driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://localhost:5432/CSE532"
          maxTotal="25"
          maxIdle="10"
          validationQuery="select 1" /> 
</Context>